<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="seanmcn.flutter_navbar_routing.flutter_nav_bar_routing">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
